.post{
    display: flex;
    padding: 15px;
    border: 1px solid rgb(97, 176, 219);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.post__single{
    display: flex;
    flex-direction: column;
}

.single__navbar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.single__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single__head{
    text-align: center;
}

.single__body{
    padding: 40px 0;
}

